$cl-light-1 : #FAFAFA;
$cl-light-2 : #F5F5F5;
$cl-light-3 : #D4D4D4;
$cl-dark-1 : #262626;
$cl-dark-2 : #404040;

*{
    font-family: 'Open Sans', sans-serif;
}

html, body{
    background: $cl-light-2;
    color: $cl-dark-2;
    font-family: 'Open Sans', sans-serif;
}

// Navbar
header{
    background: #262626;
}
// End Navbar

// // section
.section-light{
    background: $cl-light-2;
    color: $cl-dark-2;
    font-family: 'Open Sans', sans-serif;
    margin-bottom : 2.5rem;
        .container{
            padding : 1.5rem;
            background: $cl-light-1;
        }
        a{
            text-decoration: none;
            color: $cl-dark-2;
        }
}

.section-dark{ 
    background: $cl-dark-1;
    color: $cl-light-2;
    font-family: 'Open Sans', sans-serif;
    margin-bottom : 2.5rem;
    .container{
        padding : 2.5rem;
        background: $cl-dark-1;
        }
        h1{
            color : $cl-light-1;
        }
        h2{
            color : $cl-light-3;
        }
        p{
            color : $cl-light-1;
        }
}
// End Section

