/* Product */
.no-decor{
    text-decoration: none;
    color: black;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
}
